{% extends 'base.html' %}

{% block title %}Not Another Cyber Site Stay Safe{% endblock %}

{% block content %}

<ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/homepage">homepage</a>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scans</a>
                <div class="dropdown-menu">
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/url_scan">Scan Url</a>
                     <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/scan_files">Scan Files</a>
                </div>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/black_listed">Blacklist Urls</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
        </li>
    </ul>

<div class="well spaced" style="width:60%">
  <h2>Best practices</h2>

  
    {% for tip in tips %}
      <li>
        
          <h3> {{ tip.tip_id }} . {{ tip.tip_title }} </h3>
          <p> {{tip.tip_paragraph}}</p>

      </li>
    {% endfor %}
  

</div>
{% endblock %}