{% extends 'base.html' %}

{% block title %}Not Another Cyber Site: Tips Stay Safe{% endblock %}

{% block content %}

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" href="/homepage/{{user_id}}">homepage</a>
  </li>
  <li class="nav-item">
    <a class="dropdown-item" href="/scan_url">Scan Url</a>
  </li>
  <li class="nav-item">   
    <a class="dropdown-item" href="/scan_files">Scan Files</a>
  </li>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/top_threats">Top Threats</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/logout">Log out</a>
  </li>
</ul>

<div class="well spaced" style="width:60%">
  <h2>Top 25 Best practices</h2>
  <p><i>Referenced from <a href= "https://www.us-cert.gov/">CISA </a></i></p>

  
    {% for tip in tips %}
      <li>
        
          <h3> {{ tip.tip_id }} . {{ tip.tip_title }} </h3>
          <p> {{tip.tip_paragraph}}</p>

      </li>
    {% endfor %}
  

</div>
{% endblock %}