{% extends 'base.html' %}

{% block title %}Not Another Cyber Site {% endblock %}

{% block content %}

<div class="p-3">

  <h1> Welcome to NACS</h1>
  <p><i>Not Another Cyber Site</i></p>

  <h3> Securing Your CyberHome, One Less Malware at a Time!</h3>
</div>

<div class="p-3"><div class="row"><div class col-lg>

<form action="/" method="POST">
      <div class="form-group">
        <label for= "InputUsername">Enter Username: </label>
          <input type="text" name="username" required class="form-control" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="InputPassword">Enter Password:</label>
          <input type="password" name="password" required class="form-control" placeholder="Password">
      </div>
    <button type="submit" class="btn btn-dark">Login</button>
</form>

    <p>No Account? <a class="nav-link active" href="/sign_up" method= "GET">Register</a></p>
</div></div></div>
{% endblock %}

