{% extends 'base.html' %}

{% block title %}Not Another Cyber Site: Stay Safe{% endblock %}

{% block content %}

<div class = "Neg-Warning">
{% if scan_type == "File Scan" %}
    <h3> [!] Malicious Code found, Delete <b><i> {{filename}} </i></b> from computer ASAP to protect machine! </h3>
{% endif %}

{% if scan_type == "Url Scan" %}

        <h3> [!] Malicious Code found, do not visit <b><i> {{web_url}} </i></b></h3>
{% endif %}
</div>



<a class="nav-link active" href="/homepage/{{user_id}}">Return to your homepage</a>

 {% endblock %}