{% extends 'base.html' %}

{% block title %}Not Another Cyber Site Scans{% endblock %}

{% block content %}

 <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/homepage">HomePage</a>

        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/best_practices">Best Cyber Security Practices</a>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scans</a>
                <div class="dropdown-menu">
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/url_scan">Scan Url</a>
                </div>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/black_listed">Blacklist Urls</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
        </li>
    </ul>

<body>
   
    <label>Please upload folder to began Scan</label>
    <form action= "/upload" method="post" enctype="multipart/form-data">
        <div>
            <input type="file" name='file' id="fileUpload" class="custom-file-input">
        </div>
        <input type="submit" class="btn btn-primary" value="ScanFile">
 </form>

</body>

{% endblock %}