{% extends 'base.html' %}

{% block title %}Not Another Cyber Site: Scans{% endblock %}

{% block content %}

<h1>Scan URL</h1>
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" href="/homepage/{{user_id}}">HomePage</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/best_practices">Best Cyber Security Practices</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/scan_files">Scan Files</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="/scan_url">Scan Url</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/top_threats">Top Threats</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/logout">Log out</a>
    </li>
</ul>

    <body>
        <label for = "InputURL">Please input Url began Scan</label>
        <form action= "/url_scan" method="post">
            <div class="form-group">
                <input type="url" name='url'>
            </div>
            <button type="submit" class="btn btn-dark"> Scan </button>
        </form>
    </body>

{% endblock %}