{% extends 'base.html' %}
{% block content %}

<h1>Register An Account</h1>

<form action="/homepage/<username>">

  <div class="form-group">
    <label>
        Enter First Name
        <input type="text" name="fname" required class="form-control" >
    </label>
  </div>
  <div class="form-group">

  <div class="form-group">
    <label>
        Enter Lastname
        <input type="text" name="lname" required class="form-control" >
    </label>
  </div>
    <label>
        Enter Email Address
        <input type="email" name="email" required class="form-control" >
    </label>
  </div>
  <div class="form-group">
    <label>
        Enter Username
        <input type="text" name="username" required class="form-control" >
    </label>
  </div>

  <div class="form-group">
    <label>
      Enter Password
      <input type="password" name="password" required class="form-control">
    </label>
  </div>


  <div class="form-group">
    <input type="submit" value="Submit" class="btn btn">
  </div>

</form>
</div>
{% endblock %}