{% extends 'base.html' %}

{% block title %}Not Another Cyber Site Stay Safe{% endblock %}

{% block content %}

<ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/homepage/{{user_id}}">homepage</a>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scans</a>
                <div class="dropdown-menu">
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/scan_url">Scan Url</a>
                     <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/scan_files">Scan Files</a>
                </div>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/best_practices">Best Practices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
        </li>
    </ul>

<div class="well spaced" style="width:60%">
  <h2>Top Threats for Windows and MacOS</h2>
  <p><i>Referenced from <a href= "https://www.forbes.com/sites/zakdoffman/2020/02/19/these-are-the-most-rampant-windows-and-mac-malware-threats-for-2020-heres-what-that-means/#879abdc4ad28">Forbes </a></i></p>


{% for threat in threats %}
        <li>
            <h3> {{ threat.threat_id }} . {{ threat.threat_title }} </h3>
            <p> {{threat.threat_paragraph}} <b><i>This Threat is common on 
            {{threat.threat_os}} Systems</i></b></p>
        </li>

{% endfor %}

  

</div>
{% endblock %}