{% extends "base.html" %}

{% block title %}Not Another Cyber Site: Home{% endblock %}

{% block content %}
<body>
<h1>Welcome, {{username}} </h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="/best_practices">Best Cyber Security Practices</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/scan_url">Scan Url</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/scan_files">Scan Files</a>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/top_threats">Top Threats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
        </li>
    </ul>

    {% if user_id == uid %}
    <h1>Previous Scans</h1>

    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Scan Type</th>
                <th scope="col">Scan Findings</th>
                <th scope="col">Scan Date</th>
            </tr>
        </thead>
        {% for scan in scan_info %}
        <tbody>
        <tr>
            <td>{{scan.scan_type }}</td>
            <td>{{scan.findings}}</td>
            <td>{{scan.scan_date}}</td>
        </tr>
        
        {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h3>You Have no Current Scans At the Moment</h3>
       
    {% endif %}
</body>
{% endblock %}

