{% extends "base.html" %}

{% block title %}NACS Home{% endblock %}

{% block content %}

<h1>Welcome, {{username}} </h1>

    <ul class="nav nav-pills">
        <li class="nav-item">
            <a class="nav-link active" href="/best_practices">Best Cyber Security Practices</a>

        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Scans</a>
                <div class="dropdown-menu">
                    <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/scan_url">Scan Url</a>
                     <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/scan_files">Scan Files</a>
                </div>
        </li>
         <li class="nav-item">
            <a class="nav-link" href="/top_threats">Top Threats</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">Log out</a>
        </li>
    </ul>
    {% if user_id == uid %}
    <h1>Previous Scans</h1>
    <table style="width:100%">
    <tr>
        <th>Scan Type</th>
        <th>Scan Findings</th>
        <th>Scan Date</th>
    </tr>
        {% for scan in scan_info %}
        <tr>
            <td>{{scan.scan_type }}</td>
            <td>{{scan.findings}}</td>
            <td>{{scan.scan_date}}</td>
        </tr>
        
        {% endfor %}
        </table>
    {% else %}
        <h3>You Have no Current Scans At the Moment</h3>
       
    {% endif %}
{% endblock %}

